body 
{
    margin-left: 10%; margin-right: 10%;
    margin-top: 40px;
    margin-bottom: 150px;
}

#td-top-intro
{
    white-space: pre-line;
    padding: 15px;
}

#td-sec-title
{
    vertical-align:top;
}

#td-pubs-fig
{
    vertical-align:top;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-right: 30px;
}

#td-pubs-text
{ 
    vertical-align:top;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
}

#div-note
{
    margin-left: 25px;
    margin-right: 25px;
    padding: 15px;
    background-color: rgb(215, 215, 215);
}